<div>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h4>Rafistolleur create
                  <a routerLink="/rafistoleurs" class="btn btn-danger float-end">
                    Back
                  </a>
                </h4>
            </div>

            <div class="card-body">
                <div *ngIf="isLoading; else elseForm">
                    <app-loader [title]="LoadingTitle"></app-loader> 
                </div>
                <ng-template #elseForm>
                    <form (ngSubmit)="saveRafistoleur()">
    <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="name" required>
        <span *ngIf="errors.name" class="text-danger">
            {{errors.name}}
        </span>
    </div>
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="email" required>
        <span *ngIf="errors.email" class="text-danger">
            {{errors.email}}
        </span>
    </div>
    <div class="mb-3">
        <label for="location">Location</label>
        <input type="text" class="form-control" name="location" [(ngModel)]="location" required>
        <span *ngIf="errors.location" class="text-danger">
            {{errors.location}}
        </span>
    </div>
    <div class="mb-3">
        <label for="tel">Tel</label>
        <input type="text" class="form-control" name="tel" [(ngModel)]="tel" required>
        <span *ngIf="errors.tel" class="text-danger">
            {{errors.tel}}
        </span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">
            Save
        </button>
    </div>
</form>

                </ng-template>
            </div>
        </div>
    </div>
</div>
