<div class="wrapper">
	<main>
		<!-- Your main content goes here -->
	</main>
	<footer class="footer">
		<div class="container">		
			<div class="row text-center">						
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="footer_menu">
						<ul>
							<li><a href="home">Accueil</a></li>
							<li><a href="#about">À propos</a></li>
							<li><a href="#contact">Contacts</a></li>
						</ul>
					</div>						
					<div class="footer_copyright">
						<p>© 2024 Ali Dabo. Tous les droits sont reserves.</p>
					</div>	
					<div class="footer_profile">
						<ul>
							<li><a href="https://github.com/"><i class="fab fa-github"></i></a></li>
							<li><a href="https://wa.me/2550710145864"><i class="fa fa-whatsapp"></i></a></li>
							<li><a href="mailto:alsondab9@gmail.com"><i class="fa fa-envelope"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>						
				</div>				
			</div>			
		</div>
	</footer>
</div>